<div class="center jumbotron">
  <h1>Welcome to the INN, Independent News Nodes</h1>

  <h2>
    This is the home page for the
   Independent News Nodes
    individual project application for CSC324 taught by Professor Barbara Zebe Johnson.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<!--Done following Melu's response in https://stackoverflow.com/questions/49160572/bootstrap-3-card -->
<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div class="row space-16">&nbsp;</div>
    
    <div class="row">
      
      <%= render 'layouts/card'; %>
      <%= render 'layouts/card'; %>
      <%= render 'layouts/card'; %>
      <%= render 'layouts/card'; %>
      <%= render 'layouts/card'; %>
      <%= render 'layouts/card'; %>
      
      
      
      
    </div>
    <div class="col-md-2">&nbsp;</div>
  </div>
</div>


</div>